body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: Gill sans;
  text-align: center;
  font-size: 35px;
}
.app-container {
  background: linear-gradient(to top, lightskyblue, whitesmoke);
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-card {
  background-color: rgba(224, 222, 222, 0.521);
  border-radius: 10px;
  text-align: center;
}
.city {
  height: 25px;
  border-radius: 5px;
  font-size: 15px;
}

button {
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}
